@tailwind base;
@tailwind components;
@tailwind utilities;


.login{
    background: linear-gradient(50deg,rgba(158,15,243,1),#fef2d4,rgba(197,82,244,1),rgba(255,27,122,1),#ff6086,#ff5f17,#fef2d4,#ffc151);
}

.mobile_img{
    background-image: url("../../src/images/mobile.bg.png");
    background-size: cover;
    height: 100%;
    background-position: center;
    background-position-y: center;    
}

.chatting_img{
    opacity: 0;
    visibility: hidden;
    animation: img_changing 10s 0s linear infinite;
}

.girlcat_img{
    opacity: 1;
    visibility: visible;
    animation: img_changing2 20s 0s linear infinite;
}

@keyframes img_changing{
    0%{
        opacity: 0;
        visibility: hidden;
    }


    50%{
        opacity: 1;
        visibility: visible;
    }

    100%{
        opacity: 0;
        visibility: hidden;
    }
}


@keyframes img_changing2{
    0%{
        opacity: 1;
        visibility: visible;
    }


    50%{
        opacity: 0;
        visibility: hidden;
    }

    100%{
        opacity: 1;
        visibility: visible;
    }
}

.input_section>input::placeholder{
    font-size: 13px;
}