@media screen and (max-width:1291px) {
    .bottom_section>ul{
        justify-content: center;
    }
}

@media screen and (max-width:1263px) {

    .home_sidebar{
        width: 70px;
    }
    .icon_logo{
        display: block;
    }

    .character_logo{
        display: none;
    }

    .content{
        display: none;
    }

    .save_info_section{
        width: calc(100% - 70px);
    }


    .save_info_inner{
        width: 340px;
    }
}


@media screen and (max-width:875px) {
    
    .login_mobile{
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        display: none;
    }

    .login_section{
        width: 100%;
        justify-content: center;
    }


    .input_section>input{
        width: 90%;
        height: 35px;
    }

    .input_section>button{
        width: 90%;
    }
    

    .or{
        width: 90%;
    }
}


@media screen and (max-width:767px) {
    .home_sidebar{
        width: 100%;
        height: auto;
        padding-bottom: 3px;
        bottom: 0;
    }
    
    .all_sidebar_option{
        width: 100% !important;
        display: flex;
    }
    
    .home_option{
        width: 16.66%;
        padding: 0px 0px;
        margin: 3px 0 0 0;
    }

    .home_option_inner{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
    }

    .explore_option{
        width: 16.66%;
        padding: 0px 0px;
        margin: 3px 0 0 0;
    }

    .explore_option_inner{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
    }

    .reels_option{
        width: 16.66%;
        padding: 0px 0px;
        margin: 3px 0 0 0;
    }

    .reels_option_inner{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
    }


    .messages_option{
        width: 16.66%;
        padding: 0px 0px;
        margin: 3px 0 0 0;
    }

    .messages_option_inner{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
    }

    .create_option{
        width: 16.66%;
        padding: 0px 0px;
        margin: 3px 0 0 0;
    }


    .create_option_inner{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
    }

    .profile_option{
        padding: 0px 0px;
        width: 16.66%;
        margin: 3px 0 0 0;
    }

    .profile_option_inner{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0px 0px;
    }




    .sidebar_logo{
        display: none;
    }

    .search_option{
        display: none;
    }

    .more_option{
        display: none;
    }


    .notification_option{
        display: none;
    }

    /*save_info_section*/
    
    .save_info_section{
        width:100%;
        height: calc(100vh - 50px);
    }

    /*header*/

    .header{
        display: block;
        display: flex;
    }

}




@media screen and (max-width:520px){
    .forgot_inner{
        width: 100%;
        padding: 0px 10px !important;
    }

    .forgot_form{
        width: 100%;
    }
    

    .forgot_input>input{
        width: 95%;
    }
    .forgot_button>button{
        width: 95%;
    }

    .createnew_inner1{
        width: 100%;
        padding: 0px 10px;
    }

    .createnew_login{
        width: 100%;
    }

}

@media screen and (max-width:475px) {
    .search_and_notification{
        width: auto;
    }
    
    .search_icon{
        display: block;
    }

    .search_section{
        display: none;
    }
}

@media screen and (max-width:390px) {

    .save_info_section{
        padding: 0 10px;
    }
    
    .save_info_inner{
        width: 100%;
    }
}